@charset "UTF-8";

/* sub_basic */
.sub_gnb {width:100%; padding-bottom:35px; text-align:center;}
.sub_gnb .sname {padding-bottom:5px; color:#878787;}
.sub_gnb .sg span {padding:0 0 0 15px; display:inline-block; font-size:32px; font-weight:500; font-family: "NanumSquare", "나눔스퀘어", sans-serif !important;}
.sub_gnb .sg span:first-child {background:url('../images/sub/list_s01.png') no-repeat right 15px; padding:0 23px 0 0; color:#00b49c;}

.sub_Menu {display:block;}
.sub_Menu li { float:left; margin-bottom:50px;}
.sub_Menu li a {display:inline-block; font-weight:700; width:100%; line-height:50px; text-align:center; border-top:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;box-sizing: border-box;}
.sub_Menu li:first-child a {border-left:1px solid #e1e1e1;}
.sub_Menu.w16 li{width:16.66%;}
.sub_Menu.w20 li{width:20%;}
.sub_Menu.w25 li{width:25%;}
.sub_Menu.w33 li{width:33.3%;}
.sub_Menu.w50 li{width:50%;}
.sub_Menu.w100 li{width:100%;}
.sub_Menu .sel a { background:#00b49c; color:#ffffff; border:1px solid #00b49c;}
.sub_Menu li a:hover { background:#00b49c; color:#ffffff; border:1px solid #00b49c;}

.bannerArea {width:100%; display:table; box-sizing: border-box; line-height:1.5;}
.bannerArea .ba01 { display:table-cell; background:url('../images/sub/bg_banner01.png') no-repeat 0 0; vertical-align:middle; height:160px; padding:0 0 0 40px;}
.bannerArea .ba02 { display:table-cell; background:url('../images/sub/bg_banner02.png') no-repeat 0 0; vertical-align:middle; height:130px; padding:0 0 0 40px; color:#ffffff;}
.bannerArea .ba03 { display:table-cell; background:url('../images/sub/bg_banner03.png') no-repeat 0 0; vertical-align:middle; height:130px; padding:0 0 0 40px;}

/* 탕전실 소개 */
.mapArea {width:100%; display:table; box-sizing: border-box; margin-bottom:50px;}

.map {width:100%; background:#f9f9f9; line-height:1.5;}
.map ul {padding:20px 30px;}
.map ul li {margin:0 0 5px 0;}
.map ul li span {font-weight:700; display:block; float:left; padding:0 15px 0 0;}

/* product */
.product_tab {width:100%; display:inline-block; background:#f6f6f6; padding:30px 20px 20px 20px; box-sizing: border-box;}
.product_tab .tab01 {display:inline-block; margin-bottom:15px;}
.product_tab .tab01 li {float:left; display:inline-block;}
.product_tab .tab01 li a{float:left; display:inline-block; padding:0 20px; margin-left:-1px; text-align:center; font-size:14px; line-height:40px; background:#ffffff; border-top:1px solid #e1e1e1; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1; box-sizing: border-box;}
.product_tab .tab01 .sel {background:#ce731b; color:#ffffff; border:1px solid #ce731b;}
.product_tab .tab01 .special {background:#00b49c; color:#ffffff; border:1px solid #00b49c;}

.product_tab .tab02 {display:inline-block; float:left; margin-right:10px; line-height:35px;}
.product_tab .tab02 li {float:left; display:inline-block; background:url('../images/sub/list_s04.png') no-repeat 0 14px;}
.product_tab .tab02 li:first-child {background:none;}
.product_tab .tab02 li:first-child a {padding-left:0;}
.product_tab .tab02 li a{float:left; display:inline-block; padding:0 8px 0 10px; text-align:center; font-size:14px;}
.product_tab .tab02 .sel {font-weight:700;}

.product_list {width:100%; display:inline-block; margin-top:40px;}
.product_list ul li {width:280px; margin:0 0 40px 50px; float:left;}
.product_list ul li:nth-child(1), .product_list ul li:nth-child(4),.product_list ul li:nth-child(7) {margin-left:0;}
.product_list ul li a {display:inline-block; border:1px solid #dbdbdb; text-decoration:none; box-sizing: border-box;}
.product_list ul li a:hover {border:1px solid #444444; box-sizing: border-box;}
.product_list ul li a:hover .imgA span {background:rgba(46,108,100,0.7);}
.product_list ul .imgA {position:relative;}
.product_list ul .imgA img {width:280px; height:280px; box-sizing: border-box;}
.product_list ul .imgA span {position:absolute; bottom:0; left:0; width:100%; color:#ffffff; padding:5px 10px; line-height:1.4; height:55px; background:rgba(0,0,0,0.5); box-sizing: border-box;}
.product_list ul .txtA {width:250px; height:200px; margin:0 auto; padding:15px 0px 10px 0px; font-size:13px;}
.product_list ul .txtA em {display:inline-block; width:100%; border-bottom:1px solid #444444; font-size:19px; font-weight:700; text-align:center; padding:0 0 13px 0; margin-bottom:13px;}
.product_list ul .txtA div p {padding-bottom:10px;}
.product_list ul .txtA div p strong {display:block;}

.product_view {width:100%; display:inline-block;}
.product_view .infoArea {display:inline-block; border:1px solid #eeeeee; height:100%; box-sizing: border-box; margin-bottom:50px;}
.product_view .infoArea .imgArea {width:458px; float:left; padding:30px 29px; box-sizing: border-box;}
.product_view .infoArea .imgArea img {border:1px solid #dbdbdb; box-sizing: border-box;}
.product_view .infoArea .imgArea ul {margin:20px auto 0 auto;}
.product_view .infoArea .imgArea ul li {float:left; margin-left:20px;}
.product_view .infoArea .imgArea ul li:first-child { margin-left:0;}
.product_view .infoArea .imgArea .imgA img {border:1px solid #dddddd; box-sizing: border-box;}

.product_view .infoArea .product_info {display:inline-block; width:480px; height:100%; min-height:470px; padding:30px 25px 25px 25px; float:left; background:#f8f8f8; border-left:1px solid #eeeeee; box-sizing: border-box; font-family: "Dotum", "돋움", sans-serif !important; font-size:13px;}
.product_view .infoArea .product_info dl {width:430px; padding:0 0 15px 0; margin-bottom:15px; border-bottom:1px solid #e4e4e4;}
.product_view .infoArea .product_info dl dt {height:29px; display:table-cell; float:left; color:#575757; font-weight:bold; width:100px; font-family: "Dotum", "돋움", sans-serif !important;}
.product_view .infoArea .product_info dl dd {height:29px; line-height:1.4; display:table;}
.product_view .infoArea .product_info dl dd.name {font-weight:bold;}
.product_view .infoArea .product_info dl dd.price {color:#ed0000; font-weight:bold; font-size:15px; line-height:1;}

.product_view .infoArea .product_info .opt_cell {width:100%; display:inline-block; padding:20px 0 6px 0; margin:-20px 0 15px 0; border-top:1px solid #acacac;  border-bottom:1px solid #acacac; box-sizing: border-box;}
.product_view .infoArea .product_info .opt_cell li {height:28px; font-size:11px;}
.product_view .infoArea .product_info .opt_cell em {display:inline-block; float:left; width:240px;}
.product_view .infoArea .product_info .opt_cell .amount {float:left; }
.product_view .infoArea .product_info .opt_cell .price {display:inline-block; float:right; width:120px; text-align:right;}
.product_view .infoArea .product_info .opt_cell .price .closeB {display:block; float:right; width:15px; height:15px; margin-left:8px; background:url('../images/sub/btn_close02.png') no-repeat left 0;}
.product_view .infoArea .product_info .sum_total {text-align:right;}
.product_view .infoArea .product_info .sum_total em {font-weight:bold; color:#222222; padding-left:10px;}
.product_view .infoArea .product_info .sum_total .num {padding-right:10px;}
.product_view .infoArea .product_info .sum_total .total_price {display:inline-block; font-size:14px; font-weight:bold; color:#019682; width:150px;}
.product_view .infoArea .product_info .sum_total .total_price .won {color:#222222; font-size:13px;}

.bt_cart {width:170px; display:inline-block; text-align:center; line-height:40px; background-color:#26995d; color:#ffffff; box-sizing: border-box; font-size:14px; font-weight:700; }
.bt_now {width:170px; display:inline-block; text-align:center; line-height:35px; background-color:#ffffff; border:3px solid #26995d; box-sizing: border-box; font-size:14px; font-weight:700; margin-left:5px;}

.opt {height:23px; border:1px solid #dddddd; margin-top:-3px; padding:2px 8px 3px 4px; vertical-align:middle; box-sizing: border-box; font-size:11px; font-family: "Dotum", "돋움", sans-serif !important;}
.opt2 {height:30px; border:1px solid #dddddd; padding:2px 8px 3px 4px; vertical-align:middle; box-sizing: border-box; font-size:11px; font-family: "Dotum", "돋움", sans-serif !important;}

.detailArea {width:100%; display:inline-block; margin-top:10px; padding:0 0 30px 0; border-bottom:1px solid #dddddd; box-sizing: border-box;}
.detailArea .tit {width:100%; display:inline-block; padding-bottom:20px; border-bottom:1px solid #dddddd;}
.detailArea .conB {width:100%; padding:40px;}

.order_view {width:100%; margin:0 auto; border-top:2px solid #00b49c;}
.order_view thead tr th {border-bottom:1px solid #e5e5e5; background:#f9f9f9; font-weight:700; padding:13px 0 13px 0; text-align:center;}
.order_view tbody tr th {border-bottom:1px solid #e5e5e5; background:#f9f9f9; font-weight:700; padding:10px 0 8px 0; text-align:center;}
.order_view tbody tr th:nth-child(3), .order_view tbody tr th:nth-child(5) {border-left:1px solid #e5e5e5;}
.order_view tbody tr td {border-bottom:1px solid #e5e5e5; border-left:1px solid #e5e5e5; padding:12px 0 10px 0; text-align:center;}
.order_view tbody tr td:first-child {border-left:none;}
.order_view .R {text-align:right; padding-right:12px;}
.order_view .L {text-align:left; padding-left:15px; }
.order_view .img {display:table-cell; vertical-align:middle;}
.order_view .name {display:table-cell; vertical-align:middle; padding-left:10px;}
.order_view .opttxt {font-size:12px; color:#676767; padding:3px 0 0 10px;}
.order_view a {color:#159aa4; text-decoration:underline;}
.order_view [type="text"] {width:50px; border:1px solid #dddddd; height:25px; padding:2px 0 0 3px; font-size:13px; margin-right:-9px; vertical-align: middle;}

.bluetxt02 {width:400px; text-align:right; float:right; font-weight:normal; font-size:11px; color:#1374b7;}

.order_detail {display:inline-block; width:100%; margin:0 auto; padding:30px 30px 0px 30px; background:#f9f9f9; border-top:1px solid #a0a0a0; box-sizing: border-box;}
.order_detail .tit {width:100%; padding:0 0 10px 0;}
.order_detail .bline {position:relative; width:880px; display:table; border-bottom:1px solid #cccccc; padding:20px 10px ; box-sizing: border-box;}
.order_detail .bline .bluetxt {position:absolute; width:300px; top:72px; left:300px; float:right; font-weight:normal; font-size:11px; color:#1374b7;}
.order_detail em {font-weight:700; width:120px; float:left; display:table-cell; vertical-align:middle;}
.order_detail label {margin-right:20px;}
.detailT {display:table-cell; vertical-align:middle; float:left; font-size:14px;}
.detailT tr th {font-weight:700; text-align:left;vertical-align: middle;}
.detailT tr td {line-height:40px;}
.detailT .price {display:inline-block; width:100px; text-align:right; font-size:16px; font-weight:700; margin-right:10px;}
.detailT .point_check {display:inline-block; background:url('../images/sub/point_check.png') no-repeat 0 0; width:70px; height:18px; vertical-align: middle;}
.detailT .point_ok {display:inline-block; background:url('../images/sub/point_ok.png') no-repeat 0 0; width:35px; height:18px; vertical-align: middle;}
.detailT .pointArea {display:inline-block; background:#ebebeb; padding:5px 12px 4px 12px; margin-left:15px; font-size:12px; line-height:1; vertical-align: middle;}
.detailT .pointArea [type="text"] {background:#d6d6d6; height:20px; padding:2px 0 0 3px; font-size:12px; vertical-align: middle;}
.detailT .boxA {display:inline-block; width:760px;}
.detailT .boxA strong {font-weight:700; vertical-align:middle; font-size:13px;}
.detailT [type="text"] {border:1px solid #dddddd; height:30px; padding:2px 0 0 3px; font-size:13px; vertical-align: middle;}
.order_detail .bgy {background:url('../images/sub/bg_tit02.png') no-repeat 0 0;}
.order_detail .bgb {background:url('../images/sub/bg_tit01.png') no-repeat 0 0;}

.order_detail_top {display:inline-block; width:100%; margin:0 auto; padding:30px 30px 30px 30px; background:#f3f3f3; box-sizing: border-box; font-size:14px;}
.order_detail_top .tit {float:left; width:130px; }
.order_detail_top ul li {float:left; vertical-align:middle; font-weight:700; margin-left:60px;}
.order_detail_top ul li:first-child {margin-left:0;}
.detailVT {display:table-cell; vertical-align:middle; float:left; font-size:14px;}
.detailVT tr th {font-weight:700; text-align:left; vertical-align: top; padding:4px 0;}
.detailVT tr td {line-height:1.5; vertical-align: top; padding:4px 0;}

.totalArea {display:inline-block; width:100%; padding:10px 20px; margin-top:-1px; background:#f9f9f9; border-top:1px solid #444444; border-bottom:1px solid #444444; box-sizing: border-box;}
.totalT {display:table-cell; vertical-align:middle; float:right; font-size:14px;}
.totalT tr th {font-weight:700; text-align:left;vertical-align: top; padding:5px 0;}
.totalT tr td {padding:5px 0;}
.totalT .price {display:inline-block; width:100px; text-align:right; font-size:16px; font-weight:700; margin-right:10px;}

.order_end {display:inline-block; width:100%; margin:0 auto 40px auto; padding:30px 30px 20px 30px; background:#f9f9f9;box-sizing: border-box;}
.order_end p {color:#0e8b7a; font-size:24px; font-weight:600; font-family: 'Noto Serif KR', serif; text-align:center; padding-bottom:30px;}
.order_end table {width:700px; margin:0 auto; border-top:1px solid #444444; font-size:14px;}
.order_end table tr th {font-weight:700; text-align:right; vertical-align: middle; padding-right:15px; background:#f1f1f1; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc;}
.order_end table tr td { text-align:left;border-bottom:1px solid #cccccc; padding-left:10px;}
.order_end .ptxt {font-size:13px; color:#818181; padding-left:10px;}

.cart_endArea {width:100%; background:#f9f9f9; padding:50px 0 70px 0; margin-bottom:40px;}
.cart_endArea .tit {width:100%; text-align:center; color:#26995d; font-size:24px; font-weight:600; font-family: 'Noto Serif KR', serif;}

.cart_end {width:800px; margin:20px auto -20px auto; border-top:2px solid #26995d;}
.cart_end tbody tr th {background:#f1f1f1; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; font-weight:700; padding:6px 15px 6px 0; text-align:right;}
.cart_end tbody tr td {line-height:30px; border-bottom:1px solid #e5e5e5;  padding:6px 0 6px 15px; text-align:left;}

.topA {margin-bottom:20px;}
.topA a {margin:0 5px 0 0;}

/* popup */
.popup {padding:20px 30px 30px 30px;}
.popup .tit {width:100%; font-size:24px; font-weight:500; font-family: "NanumSquare", "나눔스퀘어", sans-serif !important; background:url('../images/sub/bg_popuptit.png') no-repeat right 0; border-bottom:2px solid #00b49c; padding:5px 0 10px 0; margin:0 0 30px 0;}
.popup .innerArea {width:85%; margin:0 auto; padding:20px 30px 10px 30px; background:#f5f5f5;}
.popup .innerArea .popT {width:100%;}
.popup .innerArea .popT tr th {background:url('../images/sub/list_s05.png') no-repeat left 6px; padding:0 0 15px 15px; font-weight:700; text-align:left;}
.popup .innerArea .popT tr td {text-align:left; padding:0 0 15px 0;}

.opt_info {font-family: "Dotum", "돋움", sans-serif !important; font-size:13px; padding:10px 0 20px 0;}
.opt_info dl {width:430px; padding:0 0 15px 0; margin-bottom:15px; border-bottom:1px solid #e4e4e4;}
.opt_info dl dt {height:29px; display:table-cell; float:left; color:#575757; font-weight:bold; width:100px; font-family: "Dotum", "돋움", sans-serif !important;}
.opt_info dl dd {height:29px; line-height:1.4; display:table;}
.opt_info dl dd.name {font-weight:bold;}
.opt_info dl dd.price {color:#ed0000; font-weight:bold; font-size:15px; line-height:1;}

.opt_info .opt_cell {width:100%; display:inline-block; padding:20px 0 6px 0; margin:-20px 0 15px 0; border-top:1px solid #acacac;  border-bottom:1px solid #acacac; box-sizing: border-box;}
.opt_info .opt_cell li {height:28px; font-size:11px;}
.opt_info .opt_cell em {display:inline-block; float:left; width:220px;}
.opt_info .opt_cell .amount {float:left; }
.opt_info .opt_cell .price {display:inline-block; float:right; width:120px; text-align:right;}
.opt_info .opt_cell .price .closeB {display:block; float:right; width:15px; height:15px; margin-left:8px; background:url('../images/sub/btn_close02.png') no-repeat left 0;}
.opt_info .sum_total {text-align:right;}
.opt_info .sum_total em {font-weight:bold; color:#222222; padding-left:10px;}
.opt_info .sum_total .num {padding-right:10px;}
.opt_info .sum_total .total_price {display:inline-block; font-size:14px; font-weight:bold; color:#019682; width:150px;}
.opt_info .sum_total .total_price .won {color:#222222; font-size:13px;}

.poplist {width:100%; margin:0 auto 30px auto; border-top:1px solid #444444; font-size:14px;}
.poplist thead tr th {border-bottom:1px solid #e5e5e5; background:#f9f9f9; font-weight:700; padding:13px 0 13px 0; text-align:center;}
.poplist tbody tr th {border-bottom:1px solid #e5e5e5; background:#f9f9f9; font-weight:700; padding:10px 0 8px 0; text-align:center;}
.poplist tbody tr td {border-bottom:1px solid #e5e5e5; border-left:1px solid #e5e5e5; padding:12px 0 10px 0; text-align:center;}
.poplist tbody tr td:first-child {border-left:none;}
.poplist .R {text-align:right; padding-right:12px;}
.poplist .L {text-align:left; padding-left:10px; }

/* member */
#joinfooter{width: 1000px; position:relative; display:block; padding:0 0 30px 0; margin:40px auto 0 auto; border-top:1px solid #d9d7d7; overflow:hidden; box-sizing:border-box;}
#joinfooter #footer_inner {width: 100%; min-width:1000px; margin: 0 auto;}
#joinfooter .copyright {display:block; font-size:13px; padding:10px 0 0 30px;}
#joinfooter .copyright li {padding:2px 0;;}
#joinfooter .copyright li p {background:url('../images/sub/list_s03.png') no-repeat left 6px; display:inline-block; padding:0 13px 0 17px; }
#joinfooter .copyright li:last-child {color:#949494;}
#joinfooter h2 {width: 100%; display:inline-block; padding:25px 7px 0 30px; font-size:16px; font-weight:700; color:#525252;}

.joinArea {position:relative; width:1000px; margin:0 auto; padding-bottom:60px;}
.joinArea h2{width:100%; text-align:right; padding:30px 10px 20px 0; border-bottom:1px solid #d9d7d7; box-sizing:border-box;}
.joinArea .banner {width:100%; min-height:150px; background:url('../images/sub/bg_joinbanner.jpg') no-repeat 0 0; padding:25px 40px; margin-bottom:30px; box-sizing: border-box;}
.joinArea .banner h3 {font-size:30px; font-weight:500; font-family: "NanumSquare", "나눔스퀘어", sans-serif !important; display:block; padding-bottom:10px; border-bottom:1px solid #ffffff;}
.joinArea .banner .txtarea {padding-top:20px; line-height:1.5; font-size:14px;}

.loginbox {width:430px; font-size:13px; margin:0 auto;}
.loginbox .loginA:after{content:'';display:block;clear:both;}
.loginbox .loginA ul li input {margin:0 0 10px 0;}
.loginbox .loginA ul li:first-child {float:left;}
.loginbox .loginA .loginB {float:left; width:430px; line-height:40px; text-align:center; font-size:15px; font-size:700; background-color:#00b49c; color:#ffffff;}

.conbox {width:430px; margin:20px auto 20px auto; background:#f4f6f9; padding:20px 20px; box-sizing: border-box; line-height:1.5;}
.conbox span {color:#07a48f; font-weight:700;}

.bottom {float:right;}

.join01 {text-align:center; margin-top:30px;}
.join01 a{text-decoration:none; text-align:left;}
.join01 ul li {width:370px; height:170px; display:inline-block; vertical-align:top; margin:0 10px; padding-left:30px; color:#ffffff;}
.join01 ul li span {display:block; width:100%; font-size:28px; font-weight:600; font-family: 'Noto Serif KR', serif; line-height:20px; margin:30px 0 15px 0;}

.join01 .bg01 {background:#b4a99e url('../images/sub/bg_join01.png') no-repeat right bottom;}
.join01 .bg02 {background:#84a19d url('../images/sub/bg_join02.png') no-repeat right bottom;}
.join01 .bline {width:30px; border-bottom:1px solid #ffffff;}

.joinstit {font-weight:700; width:100%; padding:10px 0;}
.join02 {border:1px solid #d9d9d9; width:100%; height:300px; overflow-y:auto; padding:20px 30px; font-size:13px; line-height:1.5; box-sizing: border-box;}

.join_form01 {display:inline-block; width:940px; margin:0 auto 30px auto; border-top:2px solid #00b49c; background:#f9f9f9; padding:20px 30px 40px 30px; box-sizing: border-box;}
.join_form01 .tit {color:#0b907e; font-size:18px; font-weight:700; text-align:left;}

.join_form02 {display:inline-block; width:940px; margin:0 auto; border-top:2px solid #2a5ca8; background:#f4f6f9; padding:20px 30px 40px 30px; box-sizing: border-box;}
.join_form02 .tit {color:#2a5ca8; font-size:18px; font-weight:700; text-align:left;}

.formT {width:820px; margin:10px auto 0 auto;}
.formT tbody tr th {font-weight:700; text-align:left;}
.formT tbody tr td {padding:5px 0; line-height:38px;}
.formT .dI {display:block;}
.formT .H40 {height:45px;}

.t01 {color:#e10505; margin-left:10px; font-size:12px;}
.t02 {color:#26995d; font-size:12px;}
.t03 {color:#966e44; font-size:12px;}

.joinend {width:500px; font-size:14px; background:url('../images/sub/bg_join_end.png') no-repeat center 70px; padding-top:50px;margin:0 auto;}
.joinend .tit {width:100%; text-align:center; padding: 130px 0 30px 0; font-size:22px; font-weight:600; font-family: 'Noto Serif KR', serif;}
.joinend .txtbox {text-align:center;}
.joinend .comment {width:480px; margin:25px auto; background:#f4f6f9; padding:10px 30px 20px 35px; box-sizing: border-box; line-height:1.5;}
.joinend .comment p {font-weight:700; padding:10px 0 0 0 ;}

/* mypage */
.myorder_list {width:100%; margin:20px auto 30px auto; border-top:2px solid #00b49c; font-size:14px;}
.myorder_list thead tr th {border-bottom:1px solid #e5e5e5; background:#f9f9f9; font-weight:700; padding:13px 0 13px 0; text-align:center;}
.myorder_list tbody tr th {border-bottom:1px solid #e5e5e5; background:#f9f9f9; font-weight:700; padding:10px 0 8px 0; text-align:center;}
.myorder_list tbody tr td:nth-child(9) {font-size:12px;}
.myorder_list tbody tr td {border-bottom:1px solid #e5e5e5; border-left:1px solid #e5e5e5; padding:12px 0 10px 0; text-align:center;}
.myorder_list tbody tr td:first-child {border-left:none;}
.myorder_list .R {text-align:right; padding-right:12px;}
.myorder_list .L {text-align:left; padding-left:10px; }
.myorder_list a {color:#159aa4; text-decoration:none;}
.myorder_list tbody tr:nth-child(even) {background:#f9f9f9;}

.pointBox {display:inline-block; width:100%; background:#f3f3f3; padding:30px 0; margin-bottom:20px; box-sizing: border-box; text-align:center;}
.pointBox p {display:inline-block;}
.point_info {display:inline-block; width:160px; height:20px; margin-bottom:10px; background:url('../images/sub/point_info.png') no-repeat 0 0; vertical-align:middle;}
.totalp {font-size:13px; vertical-align:middle; padding-top:3px;}
.point_list {display:inline-block; width:100px; height:20px; margin:4px 0 10px 5px; background:url('../images/sub/point_list.png') no-repeat 0 0; vertical-align:middle;}

/* table */
.searchBox01 {width:100%; text-align:right; font-size:16px; font-weight:700;}
.searchBox01:after{content:''; display:block; clear:both;}
.searchBox01 select {clear:both;}
.winput {display:inline-block; width:260px; line-height:35px; vertical-align:top; padding:0px 15px 0px 15px; border:1px solid #dddddd; box-sizing: border-box; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; -ms-border-radius:30px; -khtml-border-radius:30px; -o-border-radius:30px;}
.winput input[type="text"] {border:none; height:22px;}

.searchArea {display:inline-block; width:100%; background:#f3f3f3; padding:15px 40px 15px 30px; margin-bottom:20px; box-sizing: border-box;}
.searchArea table {margin-left:20px;}
.searchArea tr td {font-weight:700; padding:8px 0 8px 0;}
.searchArea select {margin-left:10px; height:37px; border:1px solid #dddddd; padding:2px 8px 3px 4px; vertical-align:middle;}
.searchArea .cal {display:inline-block; vertical-align:middle; margin-left:-1px; border:1px solid #dddddd; width:31px; height:30px; background:#ffffff url('../images/sub/icon_cal.png') no-repeat center 5px; box-sizing: border-box;}
.searchArea [type="text"] {border:1px solid #dddddd; height:30px; padding:2px 0 0 3px; font-size:13px; vertical-align: middle;}
.searchArea .input {width:275px; float:right; line-height:30px; vertical-align:top; padding:0px 0px 0px 5px; border:1px solid #dddddd; background:#ffffff; box-sizing: border-box;}
.searchArea .input input[type="text"] {border:none; height:23px; margin-top:0;}
.searchArea .inputL {width:330px; float:left; line-height:30px; vertical-align:top; padding:0px 0px 0px 5px; border:1px solid #dddddd; background:#ffffff; box-sizing: border-box;}
.searchArea .inputL input[type="text"] {border:none; height:23px; margin-top:0;}
.searchArea .btnA {display:inline-block; margin-left:10px;}
.searchArea .btnA span {display:inline-block; width:70px; line-height:30px; border:1px solid #dddddd; background:#ffffff; box-sizing: border-box; text-align:center; margin-left:5px; font-size:14px; }
.searchArea .btnA .sel {background:#00b49c; border:1px solid #00b49c; color:#ffffff; border:none;}

.st01 {width:100%; border-top:2px solid #00b49c; background:#f9f9f9; padding:30px 50px; box-sizing: border-box; }
.ifile {vertical-align:middle; margin:0 10px;}
.basic {width:100%;}
.basic tbody tr th {font-weight:700; text-align:left;}
.basic tbody tr td {padding:8px 0 8px 15px; text-align:left;}

.basic_list {width:100%; margin:10px auto 40px auto; border-top:2px solid #00b49c;}
.basic_list thead tr th {border-bottom:1px solid #e5e5e5; background:#f1f1f1; font-weight:700; padding:13px 0 13px 0; text-align:center;}
.basic_list tbody tr th {border-bottom:1px solid #e5e5e5; font-weight:700; padding:10px 0 8px 0; text-align:center;}
.basic_list tbody tr td {line-height:30px; border-bottom:1px solid #e5e5e5; padding:10px 0 8px 0; text-align:center;}
.basic_list tbody tr:nth-child(even) {background:#f9f9f9;}
.basic_list .L {text-align:left; padding-left:15px;}
.basic_list .top a {color:#008977; font-weight:700;}
.basic_list a.li {color:#159aa4; text-decoration:underline;}

.basic_view {width:100%; margin:10px auto; border-top:2px solid #00b49c;}
.basic_view thead tr th {border-bottom:1px solid #e5e5e5; background:#f1f1f1; font-weight:700; padding:13px 0 13px 0; text-align:center;}
.basic_view tbody tr th {border-bottom:1px solid #e5e5e5; font-weight:700; padding:10px 0 8px 0; text-align:center;}
.basic_view tbody tr td {line-height:30px; border-bottom:1px solid #e5e5e5; padding:10px 0 8px 0; text-align:left;}
.basic_view .subject {background:#f1f1f1; color:#008977; font-weight:700; text-align:left; padding-left:10px;}
.table_con {border-bottom:1px solid #e5e5e5; padding:30px; box-sizing: border-box;}

.basic_pre {width:100%; margin:10px auto; border-top:1px solid #e5e5e5;}
.basic_pre tbody tr th {border-bottom:1px solid #e5e5e5; font-weight:700; padding:11px 0 9px 20px; text-align:left;}
.basic_pre tbody tr td {line-height:30px; border-bottom:1px solid #e5e5e5; padding:11px 0 9px 0; text-align:left;}
.basic_pre .next {height:10px; background:url('../images/common/bg_up.png') no-repeat; background-position:90px 20px;}
.basic_pre .pre {height:10px; background:url('../images/common/bg_up.png') no-repeat; background-position:90px -10px;}

.cart_list {width:100%; margin:10px auto; border-top:2px solid #26995d;}
.cart_list thead tr th {border-bottom:1px solid #e5e5e5; background:#f1f1f1; font-weight:700; padding:13px 0 13px 0; text-align:center;}
.cart_list tbody tr th {border-bottom:1px solid #e5e5e5; font-weight:700; padding:10px 0 8px 0; text-align:center;}
.cart_list tbody tr td {line-height:30px; border-bottom:1px solid #e5e5e5; border-left:1px solid #e5e5e5; padding:10px 0 8px 0; text-align:center;}
.cart_list tbody tr td:first-child {border-left:none;}
.cart_list tbody tr:nth-child(even) {background:#f9f9f9;}
.cart_list tfoot tr td {background:#474040; color:#ffffff; line-height:60px; padding-right:15px;}
.cart_list tfoot .totalBoxfoot li {float:left; font-weight:700;}
.cart_list tfoot .totalBoxfoot .tit {font-size:17px; text-align:left; width:320px; padding-left:30px;}
.cart_list tfoot .totalBoxfoot .Bt01 {width:240px; background:url('../images/sub/bg_plus.png') no-repeat right 17px;}
.cart_list tfoot .totalBoxfoot .Bt01 .won {width:120px; display:inline-block; font-weight:700; text-align:right;}
.cart_list tfoot .totalBoxfoot .Bt02 {width:200px; padding-left:35px; background:url('../images/sub/bg_total.png') no-repeat right 17px;}
.cart_list tfoot .totalBoxfoot .Bt02 .won {width:100px; display:inline-block; font-weight:700; text-align:right;}
.cart_list tfoot .totalBoxfoot .total {width:210px; padding-left:30px;}
.cart_list tfoot .totalBoxfoot .total .won {width:155px; display:inline-block; font-weight:700; text-align:right; font-size:19px;}
.cart_list .R {text-align:right; padding-right:12px;}
.cart_list .L {text-align:left; padding-left:10px;}
.cart_list a {color:#159aa4; text-decoration:underline;}

.totalBox {display:inline-block; width:100%; margin-top:20px; border-top:1px solid #a0a0a0; border-bottom:1px solid #a0a0a0; background:#f3f3f3; line-height:60px; box-sizing: border-box;}
.totalBox li {float:left; font-weight:700;}
.totalBox .tit {font-size:17px; text-align:left; width:380px; padding-left:30px; box-sizing: border-box;}
.totalBox .Bt01 {width:240px; background:url('../images/sub/bg_plus.png') no-repeat right 17px; box-sizing: border-box;}
.totalBox .Bt01 .won {width:120px; display:inline-block; font-weight:700; text-align:right;}
.totalBox .Bt02 {width:230px; padding-left:35px; background:url('../images/sub/bg_total.png') no-repeat right 17px; box-sizing: border-box;}
.totalBox .Bt02 .won {width:100px; display:inline-block; font-weight:700; text-align:right;}
.totalBox .Bt03 {width:580px; padding-right:55px; background:url('../images/sub/bg_plus.png') no-repeat right 17px; text-align:right; box-sizing: border-box;}
.totalBox .Bt03 .won {width:100px; display:inline-block; font-weight:700; text-align:right;}
.totalBox .total {width:250px; padding-left:30px; color:#117c44; box-sizing: border-box;}
.totalBox .total .won {width:130px; display:inline-block; font-weight:700; text-align:right; font-size:19px;}

.totalend {width:100%; background:#f9f9f9; line-height:80px; display:table; margin-top:40px;}
.totalend .tit {color:#117c44; font-size:19px; width:130px; padding-left:30px;}
.totalend ul li {float:left; display:table-cell; vertical-align:middle; font-size:13px; font-weight:700;}
.totalend ul li:last-child {padding-left:30px;}

.myorder {width:100%; margin:10px auto; border-top:2px solid #26995d;}
.myorder thead tr th {border-bottom:1px solid #e5e5e5; background:#f1f1f1; font-weight:700; padding:13px 0 13px 0; text-align:center;}
.myorder tbody tr th {border-bottom:1px solid #e5e5e5; font-weight:700; padding:10px 0 8px 0; text-align:center;}
.myorder tbody tr td {line-height:30px; border-bottom:1px solid #e5e5e5; padding:10px 0 8px 0; text-align:left;}
.myorder tbody tr td:first-child, .myorder tbody tr td:nth-child(4) { text-align:center;}
.myorder tbody tr td span {font-size:13px;}
.myorder tbody tr:nth-child(even) {background:#f9f9f9;}
.myorder a {font-weight:700; line-height:1.2;}

/* button, paging */
.cg {background-color:#00b49c; border:1px solid #00b49c;  color:#ffffff;}
.cg:hover {background-color:#08ab95;}

.cgb {background-color:#007868; border:1px solid #007868;  color:#ffffff;}
.cgb:hover {background-color:#07695c;}

.cr {background-color:#ce1b1b;  color:#ffffff;}
.cr:hover {background-color:#c11313;}

.cw {background-color:#ffffff; border:1px solid #828282; color:#222222; }
.cw:hover {background-color:#fbfbfb;}

.cglay {background-color:#aaaaaa; color:#ffffff;}
.cglay:hover {background-color:#9f9f9f;}
.cglay:active {position:relative;	top:1px;}

.cB {background:#444444; border:1px solid #444444; color:#ffffff;}
.cB:hover {background:#000000;}

.cBl {background:#252525; color:#ffffff;}
.cBl:hover {background:#3c3c3c;}

.cBlue {background:#476e9b; border:1px solid #476e9b; color:#ffffff;}
.cBlue:hover {background:#346093;}

.cO {background:#ce731b; color:#ffffff;}
.cO:hover {background:#bd640d;}

.w120 {width:120px;}
.h20 {height:20px; line-height:20px; display:inline-block; font-size:12px; padding:0 10px; box-sizing: border-box; vertical-align:middle;}
.h23 {height:22px; line-height:22px; display:inline-block; padding:0 7px; box-sizing: border-box; vertical-align:middle; font-size:11px; font-family: "Dotum", "돋움", sans-serif !important;}
.h25 {height:25px; line-height:25px; display:inline-block; font-size:12px; padding:0 10px; box-sizing: border-box; vertical-align:middle;}
.h28 {height:28px; line-height:28px; display:inline-block; font-size:14px; padding:0 13px; }
.h30 {height:30px; line-height:30px; display:inline-block; font-size:12px; padding:0 15px; box-sizing: border-box; vertical-align:middle;}
.h32 {height:32px; line-height:32px; display:inline-block; font-size:14px; padding:0 13px; }
.h33 {height:30px; line-height:33px; display:inline-block; font-size:12px; padding:0 15px; box-sizing: border-box; vertical-align:middle;}
.h35 {min-width:70px; height:35px; line-height:35px; display:inline-block; font-size:13px; text-align:center; padding:0 10px; vertical-align:middle; box-sizing: border-box;}
.h34 {height:34px; line-height:34px; display:inline-block; font-size:14px; padding:0 13px; }
.h352 {min-width:70px; height:35px; line-height:35px; display:inline-block; font-size:13px; text-align:center; padding:0 15px; vertical-align:middle; box-sizing: border-box; font-weight:700;}
.h402 {height:40px; line-height:40px; display:inline-block; font-size:13px; font-weight:normal; padding:0 20px; vertical-align:middle; box-sizing: border-box;}
.h403 {height:40px; line-height:40px; display:inline-block; font-size:13px; font-weight:normal; padding:0 15px; margin-left:-5px; vertical-align:middle; box-sizing: border-box;}
.h40 {line-height:40px; display:inline-block; cursor:pointer; font-size:14px; text-decoration:none; text-align:center; padding:0 35px; margin:0 0; vertical-align:middle; box-sizing: border-box;}
.h50 {width:120px; line-height:50px; display:inline-block; cursor:pointer; font-size:15px; font-weight:bold; text-decoration:none; text-align:center; margin:0 5px; box-sizing: border-box;}
.h60 {width:200px; line-height:60px; display:inline-block; cursor:pointer; font-size:16px; font-weight:bold; text-decoration:none; text-align:center; margin:0 5px; box-sizing: border-box;}

a.joinbtn {display:inline-block; background:#ffffff url('../images/sub/bg_btn01.png') no-repeat 60px 20px; border:1px solid #828282; color:#222222; width:330px; padding-left:30px; line-height:60px; text-decoration:none; font-weight:700;}
a.joinbtn:hover {display:inline-block; background:#00b49c url('../images/sub/bg_btn01_ov.png') no-repeat 60px 20px; border:1px solid #00b49c; color:#ffffff;}

.btn_area {position:relative; display:inline-block; width:100%; text-align:right; padding:20px 0 0 0; margin-top:-20px; border-top:1px solid #acacac;}
.btn_area01{position:relative; display:inline-block; width:100%; text-align:center;padding:40px 0 0 0;}
.btn_area02{position:relative; display:inline-block; width:100%; text-align:right; padding:40px 0 0 0;}
.btn_area03{position:relative; display:inline-block; width:100%; text-align:right; padding:10px 0 0 0; margin:0 auto 40px auto;}
.btn_area04{position:relative; display:inline-block; width:100%; text-align:right; border-top:1px solid #dddddd; padding:10px 0 0 0; margin:0 auto 40px auto;}
.btn_area05{position:relative; display:inline-block; width:100%; text-align:center; padding:30px 0 0 0;}
.btn_area06{position:relative; display:inline-block; width:100%; text-align:right; padding:10px 0 0 0;}

.paging {position:relative; width:100%; text-align:center; margin:0px 0 5px 0; font-size:11pt; display:inline-block; z-index:9900;}
.paging a{text-decoration:none; display:inline-block; width:26px; height:20px; text-align:center; color:#534741; box-sizing: border-box; margin:0 3px; padding-top:0px;}
.paging a.link_page:hover,.paging a.on{color:#00b49c; font-weight:700;}
a.btn_prev,a.btn_prev00{display:inline-block; width:26px; height:26px; margin-top:-3px; vertical-align:top; background:url('../images/common/bg_next.png') no-repeat; background-position:0 0; font-size:0; box-sizing: border-box; }
a.btn_next,a.btn_next00{display:inline-block; width:26px; height:26px; margin-top:-3px; vertical-align:top; background:url('../images/common/bg_next.png') no-repeat; background-position:-26px 0; font-size:0; box-sizing: border-box; }
.paging a span{font-size:0; box-sizing: border-box;}

.contract {width:100%; display:inline-block;}
.contract .grayB {background:#f9f9f9; margin:0 0 20px 0; padding:20px 0 20px 30px; font-weight:700;}
.contract .inner {display:inline-block; width:940px; margin:0 auto 30px auto; border-top:2px solid #00b49c; background:#f9f9f9; padding:20px 30px 40px 30px; box-sizing: border-box;}
.contract tbody tr th {font-weight:700; text-align:left;}
.contract tbody tr td {padding:5px 0; line-height:38px;}
.contract .dI {display:block;}
.contract .H40 {height:45px;}

.contractPop {width:1000px; min-height:1110px; padding:30px 50px; box-sizing: border-box; font-size:17px;line-height:1.4; }
.page01 .tit {width:100%; display:block; text-align:center; font-size:30px; font-weight:500; font-family: 'Noto Serif KR', serif;}
.page01 .bottom {}
.page02 .subtit {width:100%; display:block; margin:70px 0 50px 0; text-align:center; font-size:30px; font-weight:700; font-family: 'Noto Serif KR', serif;}
.page02 ul li {padding-bottom:15px;}
.page02 ul li span {display:block; padding-bottom:5px;line-height:1.6;  font-weight:700;}
.page02 .date {display:block; margin:40px 0; text-align:center; font-weight:700;}
.page03 {width:900px; margin:60px 0 40px 0;}

.page03 .inner thead tr th {padding:5px 0 10px 0; border-bottom:1px solid #f9f9f9; font-weight:700;}
.page03 .inner tbody tr th {font-weight:700;padding:8px 0;border-bottom:1px solid #f9f9f9;  border-left:1px solid #f9f9f9; vertical-align:top;}
.page03 .inner tbody tr td {padding:10px 0 8px 15px;border-bottom:1px solid #f9f9f9;  border-left:1px solid #f9f9f9; vertical-align:top;}
.page03 .inner tbody tr td:last-child {border-right:1px solid #f9f9f9;}
.bg_in {display:inline-block; padding-right:50px; background:url('../images/sub/in.png') no-repeat 20px -2px; background-size:25px auto;}


.paperArea {width:1100px; min-height:1200px; box-sizing: border-box; font-size:16px; line-height:1.4; }
.paperArea img {max-width:1050px;}
.paperArea div {position:relative;}
.paperArea .pager02 table {position:absolute;}
.paperArea .pager02 table tr td p {float:left;}




/* 탕전 처방하기 */
.LArea .orderlist01 {width:100%; border-top:2px solid #00b49c; border-bottom:1px solid #dddddd;}
.LArea .orderlist01 thead tr td {background:#f9f9f9; border-bottom:1px solid #dddddd; padding:15px 0 10px 20px;}
.LArea .orderlist01 thead tr td ul li {background:url('../images/sub/list_style01.png') no-repeat 0 8px; padding:0 0 8px 15px; text-align:left;}
.LArea .orderlist01 thead tr td ul li span {width:115px; float:left; font-weight:700; color:#117c44;}
.LArea .orderlist01 tbody tr th {text-align:left; padding:0 0 0 37px; font-weight:700;}
.LArea .orderlist01 tbody tr td {padding:15px 25px 0 0;}

.LArea .oderlist_top {width:100%; border-top:2px solid #00b49c; border-bottom:1px solid #dddddd; background:#f9f9f9; padding:15px 0 0 30px; font-size:16px;box-sizing: border-box;}
.LArea .oderlist_top p {padding-bottom:15px;}
.LArea .oderlist_top p span {font-weight:700; width:60px; display:inline-block;}
.LArea .orderlist02 {width:100%; font-size:14px;}
.LArea .orderlist02 thead tr th {background:#e8e8e8; border-bottom:1px solid #dddddd; padding:10px 0 10px 0; font-weight:700; text-align:center;}
.LArea .orderlist02 tbody tr td {padding:5px 0 6px 0; border-bottom:1px solid #dddddd; line-height:32px; text-align:center;}
.LArea .orderlist02 .L {text-align:left; padding-left:10px;}
.LArea .orderlist02 tbody tr td:nth-child(6), .LArea .orderlist02 tbody tr td:nth-child(7) {text-align:right; padding-right:15px;}
.LArea .orderlist02 tbody tr:nth-child(even) {background:#f9f9f9;}
.LArea .orderlist02 tfoot tr td {background:#444444; color:#ffffff; text-align:right; padding:15px 20px 15px 20px; font-size:16px;}
.LArea .orderlist02 tfoot tr td:first-child {text-align:left;}
.btn_change {display:inline-block; width:22px; height:22px; background:url('../images/sub/btn_change.png') no-repeat 0 0; vertical-align:top; margin:5px 0 0 5px;}
.LArea .orderlist02 [type="text"] {height:25px !important; background:#f5f5f5 !important; text-align:right; padding-right:5px !important;}

.LArea .orderlist03 [type="text"] {height:30px !important; background:#f5f5f5 !important; text-align:right; padding-right:5px !important;}
.LArea .orderlist03 select {border:1px solid #dddddd; background:#f5f5f5; height:35px; padding:2px 0 0 3px; font-size:13px; vertical-align: middle;}
.LArea .orderlist03 {width:100%; border-top:2px solid #00b49c; margin-bottom:15px;}
.LArea .orderlist03 tbody tr th {padding:13px 0 10px 20px; font-weight:700; text-align:left; vertical-align:top;}
.LArea .orderlist03 tbody tr td {padding:5px 0 6px 20px;  text-align:left;}
.LArea .orderlist03 .img {width:160px; height:125px; border:1px solid #dddddd; box-sizing: border-box; text-align:center; margin-top:10px;}
.LArea .orderlist03 .img img {height:123px;}
.LArea .orderlist03 .comment01 {display:block; width:490px; padding:5px 15px; margin:10px 0 0 0; font-size:13px; background:#f7f3e6;}

.LArea .orderlist04 {width:100%; font-size:14px; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd;}
.LArea .orderlist04 tbody tr th {padding:20px 0 10px 20px; font-weight:700; text-align:left; vertical-align:top;}
.LArea .orderlist04 tbody tr td {padding:20px 40px 6px 20px;  text-align:left;}
.LArea .orderlist04 .textop {width:530px; height:70px;resize:none; margin-top:10px;}
.LArea .orderlist04 input[type="File"] {height:30px;}

.LArea .oderlistArea {position:relative; width:100%;}
.LArea .oderlistArea .yakjae_popup {background:url('../images/sub/bg_popup.png') no-repeat 10px 0; width:450px; height:120px; position:absolute; z-index:99; padding-top:7px; box-sizing: border-box;}
.LArea .oderlistArea .yakjae_popup .changelist {width:100%; border-top:1px solid #717171; border-right:1px solid #717171; font-size:13px;}
.LArea .oderlistArea .yakjae_popup .changelist thead tr th {border-bottom:1px solid #dddddd; background:#e8e8e8; text-align:center; line-height:26px;}
.LArea .oderlistArea .yakjae_popup .changelist thead tr th:first-child {border-left:1px solid #717171;}
.LArea .oderlistArea .yakjae_popup .changelist tbody tr td {background:#ffffff; border-bottom:1px solid #dddddd; line-height:30px; text-align:center;}
.LArea .oderlistArea .yakjae_popup .changelist tbody tr td:first-child {text-align:left; padding-left:10px; border-left:1px solid #717171;}
.LArea .oderlistArea .yakjae_popup .changelist tbody tr td:nth-child(4) {text-align:right; padding-right:10px;}
.LArea .oderlistArea .yakjae_popup .changelist tbody tr:last-child td {border-bottom:1px solid #717171;}

.RArea .tab2 li a {width:50%;}
.RArea .tab4 li a {width:25%;}
.RArea .tab2 li a, .RArea .tab4 li a {font-size:14px ;font-weight:700;  display:inline-block; float:left; text-align:center; line-height:50px; color:#898989; border-bottom:1px solid #d1d1d1; border-left:1px solid #d1d1d1; background:#e7e7e7; box-sizing: border-box;border-top:1px solid #d1d1d1;}
.RArea .tab2 li:first-child a, .RArea .tab4 li:first-child a {border-left:none;}
.RArea .tab2 .sel, .RArea .tab4 .sel {background:#ffffff url('../images/sub/bg_tab.png') no-repeat center bottom; color:#222222;}

.patient_search, .detail_info {border-bottom:1px solid #dddddd;}
.RArea .patient_search .searchA {display:inline-block; padding:14px 0 14px 15px; }
.RArea .patient_search .searchA [type="text"] {height:34px !important; margin:0 !important; vertical-align: top;}
.RArea .patient_search .searchA select {height:34px; padding:2px 0 0 3px; font-size:13px; vertical-align: top;}
.RArea .patient_search .searchA a span {margin-left:-4px;}

.RArea .list {width:100%; font-size:13px; border-top:1px solid #dddddd;}
.RArea .list thead tr th {background:#e8e8e8; border-bottom:1px solid #dddddd; padding:12px 0 12px 0; font-weight:700; text-align:center;}
.RArea .list tbody tr td {padding:5px 0 6px 0; border-bottom:1px solid #dddddd; line-height:29px; text-align:center;}
.RArea .list .L {text-align:left; padding-left:15px;}
.RArea .list .R {text-align:right; padding-right:15px;}
.RArea .list a {color:#0b6d3a;}
.RArea .list tbody tr:nth-child(odd) {background:#ffffff;}
.RArea .list .w100 {text-align:left; padding-left:10px; white-space: nowrap; text-overflow: ellipsis; -0-text-overflow:ellipsis; overflow: hidden;}

.RArea .list_popup01 {background:#ffffff; border:1px solid #717171; width:440px; height:340px; position:absolute; z-index:99; top:156px; left:10px; padding:15px; box-sizing: border-box;}
.RArea .list_popup01 .btn_close {position:absolute; right:15px; top:15px;}
.RArea .list_popup01 .tit {font-weight:700; width:100%;}
.RArea .list_popup01 .tit a {margin-left:10px; vertical-align:middle;}

.RArea .poplist {width:100%; font-size:13px; border-top:1px solid #dddddd; margin-top:10px;}
.RArea .poplist tbody tr th {background:#f9f9f9; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; padding:9px 0 8px 10px; font-weight:700; text-align:left; vertical-align:top;}
.RArea .poplist tbody tr td {padding:9px 10px 8px 10px; border-bottom:1px solid #dddddd; line-height:1.4; text-align:left; vertical-align:top;}
.RArea .poplist .jo {display:block; margin-bottom:10px;}

.RArea a span {font-size:12px;}
.RArea .btn_area05 a span {font-size:15px;}
.RArea .btn_area05{position:relative; display:inline-block; width:100%; text-align:center; padding:30px 0 0 0;}
.RArea .detail_info, .RArea .patient_search {width:100%; display:inline-block; height:375px;}
.RArea .detail {width:420px; display:inline-block; min-height:275px; margin:15px 0 20px 20px; font-size:13px; border-bottom:1px solid #dddddd; }
.RArea .detail tbody tr th {color:#117c44; font-weight:700; text-align:left; padding:5px 0 5px 10px ; vertical-align:top;}
.RArea .detail tbody tr td {padding:5px 0 5px ; line-height:1.4; text-align:left;}

.RArea .order_option {height:550px; position:relative;}
.RArea .order_option [type="text"] {height:36px !important; margin:0 !important; vertical-align: top;}
.RArea .order_option .searchA {width:100%; display:inline-block; padding:14px 0 14px 10px;}
.RArea .order_option .searchA select {height:34px; padding:2px 0 0 3px; font-size:13px; vertical-align: top;}
.RArea .order_option .searchA a span {margin-left:-4px;}

.RArea .deliver {padding-bottom:10px;}
.RArea .deliver .tit {width:100%; background:#ffffff; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; font-weight:700; padding-left:25px; line-height:60px; box-sizing: border-box;}
.RArea .deliver [type="text"] {height:30px !important; background:#f5f5f5 !important; margin-bottom:7px !important; vertical-align: middle;}
.RArea .deliver select {border:1px solid #dddddd; background:#f5f5f5; height:35px; padding:2px 0 0 3px;  font-size:13px; vertical-align: middle;}
.RArea .deliver textarea {border:1px solid #dddddd; background:#f5f5f5;}
.RArea .deliver a span {font-size:12px; vertical-align: top;}
.RArea .deliver .send, .RArea .deliver .receive {width:420px; margin:15px auto;}
.RArea .deliver .send ul, .RArea .deliver .receive ul {margin:6px 0 0 18px;}
.RArea .deliver .send ul li, .RArea .deliver .receive ul li {vertical-align:middle;}
.RArea .deliver .stit01, .RArea .deliver .stit02 {font-weight:700; width:100%; display:inline-block; padding-left:10px;}
.RArea .deliver .receive {border-top:1px solid #dddddd; padding-top:15px;}

.RArea .priceBox {width:100%; display:inline-block;}
.RArea .priceBox .tit {width:100%; background:#444444; color:#ffffff; line-height:60px; text-align:center; font-family: 'Noto Serif KR', serif; font-size:21px; font-weight:500; }
.RArea .pricelist {width:100%; display:inline-block; background:#f9f9f9; padding:7px 0 7px 0 ;}
.RArea .pricelist tbody tr th {font-weight:700; text-align:left; padding:0 0 0 40px; line-height:40px; box-sizing: border-box;}
.RArea .pricelist tbody tr td:last-child {text-align:right; padding:0 50px 0 0 ; line-height:40px; box-sizing: border-box;}
.RArea .pricelist tbody tr td:last-child span {font-weight:700; font-size:16px;}
.RArea .pricelist tbody tr td:nth-child(2) {font-size:12px; color:#a2a2a2;}
.RArea .pricelist tbody tr td:nth-child(2) span {font-size:12px; color:#222222;}

.RArea .pricetotal {width:100%; display:inline-block; background:#ffffff; padding:18px 0 20px 0; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd;}
.RArea .pricetotal tbody tr th {font-weight:700; text-align:left; padding:0 0 0 40px; line-height:30px; box-sizing: border-box;}
.RArea .pricetotal tbody tr td:last-child {text-align:right; padding:0 50px 0 0 ; line-height:30px; box-sizing: border-box;}
.RArea .pricetotal tbody tr td:last-child span {font-weight:700; font-size:18px;}
.RArea .pricetotal .total {color:#f12c06; font-size:20px;}
.RArea .pricetotal .total2 {font-size:24px; font-weight:700;}

/* // 탕전 처방하기 */

.div_tit {width:100%; display:inline-block; font-size:22px; font-weight:600; margin-bottom:10px; font-family: 'Noto Serif KR', serif;}


.searchArea {display:inline-block; width:100%; background:#f3f3f3; padding:15px 40px 15px 30px; margin-bottom:20px;}
.searchArea table {margin-left:30px;}
.searchArea tr td {font-weight:700; padding:5px 0 5px 0;}
.searchArea select {margin-left:10px; height:35px; border:1px solid #dddddd; padding:2px 8px 3px 4px; vertical-align:middle;}
.searchArea .cal {display:inline-block; vertical-align:middle; margin-left:-1px; border:1px solid #dddddd; width:35px; height:34px; background:#ffffff url('../images/sub/icon_cal.png') no-repeat center 7px; box-sizing: border-box;}
.searchArea [type="text"] {border:1px solid #dddddd; height:30px; padding:2px 0 0 3px; font-size:13px; vertical-align: middle;}
.searchArea .input {width:275px; float:left; line-height:35px; vertical-align:top; padding:0px 0px 0px 5px; border:1px solid #dddddd; background:#ffffff; box-sizing: border-box;}
.searchArea .input input[type="text"] {border:none; height:23px; margin-top:0;}
.searchArea .inputL {width:330px; float:left; line-height:35px; vertical-align:top; padding:0px 0px 0px 5px; border:1px solid #dddddd; background:#ffffff; box-sizing: border-box;}
.searchArea .inputL input[type="text"] {border:none; height:23px; margin-top:0;}
.searchArea .btnA {display:inline-block; margin-left:10px;}
.searchArea .btnA span {display:inline-block; width:70px; line-height:33px; border:1px solid #dddddd; background:#ffffff; box-sizing: border-box; text-align:center; margin-left:5px; font-size:14px; }
.searchArea .btnA .sel {background:#26995d; color:#ffffff; border:none;}

.search_han1 {display:inline-block; float:right; border-top:1px solid #dddddd; border-right:1px solid #dddddd; font-size:14px;}
.search_han1 li {float:left;}
.search_han1 li a {width:35px; line-height:35px; display:inline-block; background:#ffffff; border-bottom:1px solid #dddddd; border-left:1px solid #dddddd; text-align:center;}
.search_han1 li:first-child a {width:50px; }
.search_han1 .sel {background:#26995d; color:#ffffff; border:none;}

.search_han2 {display:inline-block; border-top:1px solid #dddddd; border-right:1px solid #dddddd; font-size:13px; margin:10px 0 0 0 ;}
.search_han2 li {float:left;}
.search_han2 li a {width:28px; line-height:30px; display:inline-block; background:#ffffff; border-bottom:1px solid #dddddd; border-left:1px solid #dddddd; text-align:center;}
.search_han2 li:first-child a {width:55px; }
.search_han2 .sel {background:#26995d; color:#ffffff; border:none;}


.RArea .order_detail{
	padding: 0 0 0 0;
}

.cbg {background:#4f7561; color:#ffffff;}
.cbg:hover {background:#518469;}
.cBB {border:1px solid #444444; background:#ffffff;}
.cBB:hover {background:#fbfbfb;}


.ctit {width:100%; font-size:22px; font-weight:600; font-family: 'Noto Serif KR', serif;}

.titArea {width:100%; height:100px; background:#f9f9f9; border-bottom:1px solid #dfdfdf; display:table;}
.titArea .Ltit {width:160px; display:table-cell; vertical-align:middle; padding-left:40px; font-size:26px; font-weight:600; font-family: 'Noto Serif KR', serif;}
.titArea p {width:970px; display:table-cell; vertical-align:middle; font-size:14px; line-height:1.5;}
.titArea span {color:#117c44; font-weight:700;}
.titArea .point {color:#e30000; font-weight:700;}

.titArea2 {width:100%; height:130px; background:#f9f9f9; border-bottom:1px solid #dfdfdf; display:table;}
.titArea2 .Ltit {width:160px; display:table-cell; vertical-align:middle; padding-left:40px; font-size:26px; font-weight:600; font-family: 'Noto Serif KR', serif;}
.titArea2 p {width:970px; display:table-cell; vertical-align:middle; font-size:14px; line-height:1.5;}
.titArea2 span {color:#117c44; font-weight:700;}
.titArea2 .point {color:#e30000; font-weight:700;}

.subTitle {width:100%; display:block; color:#117c44; font-size:18px; font-weight:700;}


/* order */
.view01 {width:100%; margin:0 auto 30px auto; border-top:1px solid #08ab95;}
.view01 thead tr th {border-bottom:1px solid #e5e5e5; background:#f1f1f1; font-weight:700; padding:8px 0 8px 0; text-align:center;}
.view01 tbody tr th {border-bottom:1px solid #e5e5e5; background:#f9f9f9; font-weight:700; padding:8px 0 8px 20px; text-align:left;}
.view01 tbody tr td {line-height:30px; border-bottom:1px solid #e5e5e5; border-left:1px solid #e5e5e5; padding:8px 20px 8px 20px; text-align:left; height:35px; line-height:1.4;}
.view01 tbody tr td:first-child {border-left:none;}

.cblue {background:#436782; color:#ffffff;}
.cblue:hover {background:#345b79;}


.view02 {width:100%; margin:10px auto 30px auto; border-top:2px solid #08ab95;}
.view02 thead tr th {border-bottom:1px solid #e5e5e5; background:#f1f1f1; font-weight:700; padding:13px 0 13px 0; text-align:center;}
.view02 tbody tr th {border-bottom:1px solid #e5e5e5; font-weight:700; padding:10px 0 8px 0; text-align:center;}
.view02 tbody tr td {line-height:30px; border-bottom:1px solid #e5e5e5; border-left:1px solid #e5e5e5; padding:10px 0 8px 0; text-align:center;}
.view02 tbody tr td:first-child {border-left:none;}
.view02 tbody tr:nth-child(even) {background:#f9f9f9;}
.view02 tbody tr:last-child td {border-bottom:1px solid #a0a0a0;}
.view02 tfoot tr td {background:#f3f3f3; line-height:60px; text-align:center;  border-bottom:1px solid #a0a0a0; border-left:1px solid #e5e5e5;}
.view02 tfoot tr td:first-child {border-left:none;}
.view02 tfoot tr td span {font-size:16px; font-weight:700;}
.view02 .R {text-align:right; padding-right:20px;}
.view02 .L {text-align:left; padding-left:25px;}
.view02 .Rtit {color:#117c44; text-align:right; padding-right:30px; font-size:16px; font-weight:700;}
.view02 a {color:#159aa4; text-decoration:underline;}

.boxList {display:inline-block; border-top:2px solid #08ab95; border-left:1px solid #dddddd;}
.boxList div {display:inline-block; float:left; width:50%; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; box-sizing: border-box;}
.boxList .img {display:inline-block; vertical-align:middle; width:200px; float:left; box-sizing: border-box;}
.boxList div ul {border-left:1px solid #dddddd; width:268px; height:100%; min-height:200px; background:#f9f9f9; padding:15px 0 10px 20px; display:table; box-sizing: border-box;}
.boxList div ul li {background:url('../images/sub/list_style01.png') no-repeat 0 8px; padding:0 0 8px 15px; vertical-align:middle;}
.boxList div ul li span {width:70px; float:left; font-weight:700;}
.boxList div ul li p {vertical-align:middle; display:table-cell;}



.setuplist {width:100%; margin:0 auto; border-top:2px solid #08ab95;}
.setuplist thead tr th {border-bottom:1px solid #e5e5e5; background:#f9f9f9; font-weight:700; padding:13px 0 13px 0; text-align:center;}
.setuplist tbody tr th {border-bottom:1px solid #e5e5e5; background:#f9f9f9; font-weight:700; padding:10px 0 8px 0; text-align:center;}
.setuplist tbody tr th:nth-child(3), .order_view tbody tr th:nth-child(5) {border-left:1px solid #e5e5e5;}
.setuplist tbody tr td {border-bottom:1px solid #e5e5e5; border-left:1px solid #e5e5e5; padding:12px 0 10px 0; text-align:center;}
.setuplist tbody tr td:first-child {border-left:none;}
.setuplist .R {text-align:right; padding-right:12px;}
.setuplist .L {text-align:left; padding-left:15px; }
.setuplist [type="text"], 
.setuplist  select{
	width:50px; border:1px solid #dddddd; height:30px; padding:2px 0 0 3px; font-size:13px; margin-right:-9px; vertical-align: middle;
	background-color:#f5f5f5;
}
.setuplist [type="checkbox"]{
	vertical-align: middle;
}

.setuplist label{margin-left: 20px;}



.ptit {width:560px; line-height:54px; background:#474040; color:#ffffff; font-size:22px; font-weight:600; font-family: 'Noto Serif KR', serif; padding-left:20px;}
.pformT {display:inline-block; width:560px; padding:20px 0 20px 40px; box-sizing: border-box;}
.pformT table {width:100%; margin-bottom:10px;}
.pformT table tbody tr th {padding:3px 0; font-weight:700; text-align:left;}
.pformT table tbody tr td {padding:3px 0;}
.pformT [type="text"] {border:1px solid #dddddd; background:#f5f5f5; height:30px; padding:2px 0 0 3px; font-size:13px; vertical-align: middle; margin-bottom:5px;}
.pformT select {height:35px; border:1px solid #dddddd; background:#f5f5f5; padding:2px 8px 3px 4px; vertical-align:middle;}
.pformT textarea {background:#f5f5f5;}

.pcomment01 {display:inline-block; border-top:1px solid #dddddd; width:95%; padding-top:20px; margin-top:10px; font-size:13px;}
.pcomment02 {display:inline-block; width:95%; padding-bottom:10px; font-size:13px;}


/* layer_popup */
.Pstyle {opacity: 0; display: none; position: relative; border: 1px solid #00b49c; padding: 20px 50px  20px 50px; margin:0 auto; background-color: #fff;}
.Pstyle2 {opacity: 0; display: none; position: relative; border: 1px solid #00b49c; padding:0; margin:0 auto; background-color: #fff;}
.b-close {position: absolute; right: 8px; top: 8px; padding: 5px; display: inline-block; cursor: pointer;}


/* mypage */
.topinfo {display:inline-block; width:100%; margin-bottom:30px;}
.topinfo div {float:left; width:450px; border-top:2px solid #00b49c; border-bottom:1px solid #dddddd;}
.topinfo div p {width:100%; background:#f9f9f9; border-bottom:1px solid #dddddd; padding:15px 0 15px 0px; font-weight:700; margin-bottom:10px;}

.topinfo div ul {margin:0 0 20px 20px;}
.topinfo div ul li {display:block; margin:0 0 10px 0; display:table;}
.topinfo .tit {display:inline-block; width:100px; padding-left:13px; color:#117c44; font-weight:700; background:url('../images/sub/list_style01.png') no-repeat 0 6px; display:table-cell; vertical-align:top;}
.topinfo .inputA {background:none; padding:5px 0 15px 20px;}
.topinfo [type="text"] {border:1px solid #dddddd; background:#f5f5f5; height:30px; padding:2px 0 0 3px; font-size:13px; vertical-align: middle; margin-bottom:2px;}
.topinfo select {height:35px; border:1px solid #dddddd; background:#f5f5f5; padding:2px 8px 3px 4px; vertical-align:middle;}
.topinfo textarea {background:#f5f5f5;}

.dictionary_popup{width:1000px; padding:30px 50px 50px 50px; box-sizing: border-box; border-top:10px solid #00b49c;}
.dictionary_popup .tit{margin-bottom:15px;}
.dictionary_popup .tit span{display:inline-block; width:100%; font-size:14px; font-weight:700; color:#4f7561; width:100%; padding-bottom:10px; }
.dictionary_popup .tit h4{margin-bottom:10px; font-family: 'Noto Serif KR', serif; font-size:23px; font-weight:500; color:#222222;}


